<h2>Show post</h2>

<ul>

  <li>
    <strong>Content:</strong>
    <%= raw Earmark.to_html(@post.content) %>
  </li>

</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
